table {
    border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;
}
table th {
    padding: 0 2px;
    border: solid 1px black;
}

table td {
    padding: 0 2px;
    border: solid 1px black;
}

.divider{
    height: 25px;
}

.form-group{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 15px;
}