table {
    border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: small;
}
table th {
    padding: 0 2px;
    border-width: 1px;
}

table td {
    padding: 0 2px;
    border-width: 1px;
}
table thead td {
    background-color: #54585d;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #54585d;
}
table tbody td {
    color: #636363;
    border: 1px solid #dddfe1;
}
table tbody tr {
    background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.GroupTopRow{
    margin-bottom: 20px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.backgroundBlock{
    background: #f7f7f7;
    padding: 10px;
    border-radius: 24px;
    border: solid 1px #dcdbdb;
}

