@page "/"
@using LunchSplitter.Domain.Entity
@using LunchSplitter.Services
@inject GroupService groupService

<PageTitle>Home</PageTitle>

@* list of all groups this user is in*@
<div>
    <h2>Groups</h2>
    @foreach (var group in groupService.GetGroups())
    {
        <div>
            <h3>@group.Name</h3>
            <p>@group.GroupUsers.Count users</p>
        </div>
    }
</div>

<div style="border: #000000">
    <h2>Create a new group</h2>
    <EditForm Model="newGroup" OnSubmit="HandleSubmit" FormName="CreateGroup">
        <DataAnnotationsValidator />

        <div>
            <label for="NameInput">Name</label>
            <InputText id="NameInput" @bind-Value="newGroup.Name" />
            <ValidationMessage For="@(() => newGroup.Name)" />
        </div>
    
        <button type="submit">Submit</button>
    </EditForm>
</div>

@code
{
    [SupplyParameterFromForm]
    public Group newGroup { get; set; }

    protected override void OnInitialized() => newGroup ??= new();

    private void HandleSubmit()
    {
        groupService.AddGroup(newGroup);
        newGroup = new Group(); // Reset form after submission if needed
    }
}
