@page "/"
@using System.Security.Claims
@using LunchSplitter.Domain.Entity
@using LunchSplitter.Services
@rendermode InteractiveServer
@inject GroupService groupService
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navigationManager

<PageTitle>Home</PageTitle>

<div>
    <h2>Welcome to LunchSplitter</h2>
    <p>Split your lunch bill with your friends</p>
</div>

<AuthorizeView>
    <Authorized>
        <div class="groups">
            @foreach (var group in groupService.GetGroupsByUserId(GetUserId()))
            {
                <button class="btn btn-primary buttonGroup" @onclick="() => NavigateToGroup(group.Id)">
                    Go to @group.Name
                </button>
            }
            <div class="group">
                <EditForm Model="NewGroup" OnValidSubmit="HandleSubmit" FormName="CreateGroup" Context="another_name">
                    <DataAnnotationsValidator/>

                    <div>
                        <label for="NameInput">Name</label>
                        <InputText id="NameInput" @bind-Value="NewGroup.Name"/>
                        <ValidationMessage For="@(() => NewGroup.Name)"/>
                    </div>

                    <button type="submit">Submit</button>
                </EditForm>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div>
            <NavLink href="login" class="btn btn-primary">Login</NavLink>
            <NavLink href="/signup" class="btn btn-primary">Signup</NavLink>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code
{
    [SupplyParameterFromForm] public Group NewGroup { get; set; }
    
    protected override void OnInitialized()
    {
        NewGroup ??= new();
    }

    private int GetUserId()
    {
        var authState = authenticationStateProvider.GetAuthenticationStateAsync().Result;
        var user = authState.User;
        if (user.Identity?.IsAuthenticated != true)
        {
            navigationManager.NavigateTo("/login");
            throw new Exception("User is not authenticated");
        }
        return int.Parse(user.FindFirstValue(ClaimTypes.NameIdentifier));
    }

    private void NavigateToGroup(int groupId)
    {
        navigationManager.NavigateTo($"/group/{groupId}");
    }

    private async void HandleSubmit()
    {
        groupService.AddGroup(NewGroup, GetUserId());

        NewGroup = new Group();
        await Task.Delay(500);
        navigationManager.NavigateTo("/", true);
    }
}