@page "/"

<PageTitle>Home</PageTitle>

<div>
    <h2>Welcome to LunchSplitter, @userName</h2>
    <p>Split your lunch bill with your friends</p>
</div>

<AuthorizeView>
    <Authorized></Authorized>
    <NotAuthorized>
        <div>
            <NavLink href="login" class="btn btn-primary">Login</NavLink>
            <NavLink href="signup" class="btn btn-primary">Signup</NavLink>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code
{
    [CascadingParameter] public HttpContext? HttpContext { get; set; }

    private string userName;

    protected override void OnInitialized()
    {
        userName = "Guest";
        if (HttpContext?.User.Identity?.IsAuthenticated == true)
        {
            userName = HttpContext.User.Identity.Name;
        }
    }

}