@using System.Security.Claims
@using LunchSplitter.Domain.Entity
@using LunchSplitter.Services
@inject GroupService groupService
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider authenticationStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LunchSplitter</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<AuthorizeView>
    <Authorized>
        <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                
                @foreach (var group in userGroups)
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="@("group/" + group.Id)">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @group.Name
                        </NavLink>
                    </div>
                }
            </nav>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="signup">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Signup
                    </NavLink>
                </div>
            </nav>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code{

    private List<Group> userGroups = new List<Group>();

    protected override void OnInitialized()
    {
        try
        {
            userGroups = groupService.GetGroupsByUserId(GetUserId());
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error initializing component: {ex.Message}");
        }
    }
    
    private int GetUserId()
    {
        var authState = authenticationStateProvider.GetAuthenticationStateAsync().Result;
        var user = authState.User;
        return int.Parse(user.FindFirstValue(ClaimTypes.NameIdentifier));
    }

}